body {
  text-align: center;
}
#current-description {
  text-transform: capitalize;
}
#current-temperature {
  font-size: 50px;
  font-weight: bold;
}
a {
  text-decoration: none;
}
#footer {
  font-size: small;
}
.unit-choice {
  vertical-align: top;
}
